@model TaskManager.Models.TaskItem

@{
	ViewData["Title"] = Model.Title;
}
<div class="container">
	<h2>Edit</h2>
	<form asp-action="Edit" method="post" class="d-flex flex-column gap-3">
		<div>
			<label asp-for="Title" class="form-label"></label>
			<input asp-for="Title" class="form-control" />
		</div>
		<div>
			<label asp-for="Description" class="form-label"></label>
			<input asp-for="Description" class="form-control" />
		</div>
		<div>
			<label asp-for="DueDate" class="form-label"></label>
			<input asp-for="DueDate" class="form-control" />
		</div>
		<div>
			<label asp-for="IsCompleted" class="form-label"></label>
			<input type="checkbox" asp-for="IsCompleted" class="form-check" />
		</div>
		<div>
			<label asp-for="CreatedAt" class="form-label"></label>
			<input asp-for="CreatedAt" class="form-control" />
		</div>
		<div>
			<label asp-for="CompletedAt" class="form-label"></label>
			<input asp-for="CompletedAt" class="form-control" />
		</div>
		<div class="d-flex justify-content-between">
			<button type="submit" class="btn btn-primary">Save Changes</button>
			<a onclick="window.location='@Url.Action("DeleteTask", "TaskItems", new { id = Model.Id})'" class="btn btn-danger">Delete</a>
		</div>
	</form>
</div>
